@font-face {
  font-family: "Gotham-Pro-Regular";
  src: url("../fonts/Ghotam-Pro/GothamPro.ttf");
}
@font-face {
  font-family: "Gotham-Pro-Light";
  src: url("../fonts/Ghotam-Pro/GothamPro-Light.ttf");
}
@font-face {
  font-family: "Gotham-Pro-Medium";
  src: url("../fonts/Ghotam-Pro/GothamPro-Medium.ttf");
}
@font-face {
  font-family: "Gotham-Pro-Bold";
  src: url("../fonts/Ghotam-Pro/GothamPro-Bold.ttf");
}
@font-face {
  font-family: "Circe-Regular";
  src: url("../fonts/Circe/Circe-Regular.ttf");
}
@font-face {
  font-family: "Circe-Light";
  src: url("../fonts/Circe/Circe-Light.ttf");
}
@font-face {
  font-family: "Berlingske-Serif-Lt";
  src: url("../fonts/Berlingske/BerlingskeSerif-LT.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: normal;
}

input {
  border: none;
}

html {
  font-size: 14px;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-flex-col, .section-flex-row {
  display: flex;
  width: 1200px;
  align-items: center;
  padding: 0 15px;
  margin: 0 15px;
}

.section-flex-row {
  flex-flow: row nowrap;
  justify-content: space-between;
}

.section-flex-col {
  flex-flow: column nowrap;
}

.fl-row {
  display: flex;
  flex-flow: row nowrap;
}

.fl-col {
  display: flex;
  flex-flow: column nowrap;
}

.fl-a-cen {
  align-items: center;
}

.site-logo {
  background-image: url(../images/site-logo.png);
  background-position: center;
  background-size: contain;
  width: 227px;
  height: 24px;
}

.header {
  flex-flow: column;
  align-items: center;
  height: 57px;
  background-color: #fff;
}
.header .nav-container {
  height: 100%;
}
.header nav {
  align-items: center;
  height: 100%;
  font-size: 1.1428571429rem;
  font-family: "Circe-Light", sans-serif;
  color: #7c7c7c;
}
.header nav .separator {
  background-color: #8d8d8d;
  opacity: 0.102;
  width: 1px;
  height: 34px;
}
.header nav .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1428571429rem;
  font-family: "Circe-Light", sans-serif;
  color: #7c7c7c;
  text-decoration: none;
  height: 100%;
  width: 162px;
}
.header .rel {
  width: 100%;
  height: 0;
  position: relative;
  flex-shrink: 0;
}
.header .header-container {
  position: absolute;
  top: 0;
  align-items: flex-end;
  height: 95px;
  z-index: 10;
}
.header-title {
  font-size: 0.9285714286rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #7c7c7c;
  width: 110px;
  line-height: 1.7em;
  margin-left: 30px;
}
.header-title .online {
  display: inline-block;
  background-image: url(../images/header/online.png);
  background-size: cover;
  width: 7px;
  height: 7px;
  margin-left: 1px;
  margin-right: 9px;
  margin-bottom: 1px;
}
.header-devise-show {
  display: none;
}
.header-phone {
  font-size: 1.4285714286rem;
  font-family: "Circe-Regular", sans-serif;
  color: #242011;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
}
.header-contact {
  justify-content: flex-end;
}
.header-email {
  font-size: 0.9285714286rem;
  font-family: "Circe-Light", sans-serif;
  color: #7c7c7c;
}
.header-instagram {
  background-image: url(../images/header/instagram.png);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-size: cover;
  flex-shrink: 0;
  margin: 0 30px;
}
.header-request {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  font-size: 0.7142857143rem;
  font-family: "Gotham-Pro-Bold", sans-serif;
  color: #242011;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  background-image: -moz-linear-gradient(-90deg, white 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(-90deg, white 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(-90deg, white 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 25px 50px 0px rgba(125, 125, 125, 0.15), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
  height: 60px;
  border-radius: 30px;
  margin-right: 20px;
}

.main {
  background-image: url(../images/main/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 210px;
  height: 900px;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.main-slider {
  width: 1230px;
  position: relative;
}
.main-slider .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 200px;
  width: 78px;
  height: 78px;
  border-radius: 39px;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 5;
}
.main-slider .slick-arrow.slick-prev {
  background-image: url(../images/slider-prev.png);
  left: -103px;
}
.main-slider .slick-arrow.slick-next {
  background-image: url(../images/slider-next.png);
  right: -55px;
}
.main .main-append-dots {
  margin-top: 110px;
  height: 30px;
}
.main .main-append-dots ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.main .main-append-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.main .main-append-dots li.slick-active {
  cursor: default;
}
.main .main-append-dots li + li {
  margin-left: 10px;
}
.main .main-append-dots button {
  font-size: 0;
  list-style: none;
  width: 6px;
  height: 6px;
  border: none;
  background-image: url(../images/slider-btn.png);
  background-color: transparent;
  background-size: cover;
}
.main .main-append-dots li.slick-active button {
  width: 10px;
  height: 10px;
  background-image: url(../images/slider-btn-active.png);
}

.start {
  width: 1230px;
  padding: 0 30px;
  justify-content: space-between;
}
.start-test {
  width: 560px;
}
.start-test h1 {
  font-size: 5.1428571429rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  line-height: 1em;
  margin-bottom: 26px;
}
.start-test-img {
  background-image: url(../images/main/slider/start/Pencil.png);
  background-position: left;
  width: 210px;
  height: 115px;
  flex-shrink: 0;
  margin-left: -45px;
  margin-right: -35px;
}
.start-test p {
  font-size: 1.2857142857rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #7c7c7c;
  line-height: 1.6em;
}
.start-test p .pink {
  color: #f596c6;
}
.start-test-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gotham-Pro-Bold", sans-serif;
  color: #312c17;
  text-transform: uppercase;
  text-decoration: none;
  background-image: -moz-linear-gradient(90deg, rgba(249, 187, 2, 0.99608) 0%, #ffd453 99%, #ffd453 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(249, 187, 2, 0.99608) 0%, #ffd453 99%, #ffd453 100%);
  background-image: -ms-linear-gradient(90deg, rgba(249, 187, 2, 0.99608) 0%, #ffd453 99%, #ffd453 100%);
  box-shadow: 0px 25px 50px 0px rgba(255, 231, 145, 0.15), 0px 3px 0px 0px rgba(227, 182, 0, 0.004), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
  padding: 0 70px;
  height: 86px;
  border-radius: 43px;
  width: max-content;
  margin-top: 30px;
}
.start .title-media {
  display: none;
  font-size: 1rem;
  font-family: "Gotham-Pro-Regular", sans-serif;
  color: #242011;
  text-transform: uppercase;
  text-align: center;
}
.start-clients {
  width: 200px;
  align-items: center;
}
.start-clients h2 {
  font-size: 1rem;
  font-family: "Gotham-Pro-Regular", sans-serif;
  color: #242011;
  text-transform: uppercase;
  text-align: center;
}
.start-client {
  width: 200px;
  align-items: center;
  margin-top: 22px;
}
.start-client-img {
  background-size: contain;
  width: 67px;
  height: 67px;
}
.start-client-img.img-1 {
  background-image: url(../images/main/slider/start/clients/1.png);
}
.start-client-img.img-2 {
  background-image: url(../images/main/slider/start/clients/2.png);
}
.start-client-img.img-3 {
  background-image: url(../images/main/slider/start/clients/3.png);
}
.start-client-img.img-4 {
  background-image: url(../images/main/slider/start/clients/4.png);
}
.start-client-name {
  font-size: 0.9285714286rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #7c7c7c;
  text-align: center;
  margin-top: 17px;
}

.google-container {
  position: absolute;
  right: 20px;
  top: 208px;
  padding-top: 48px;
  align-items: center;
  background-image: url(../images/google-app/background.png);
  width: 266px;
  height: 474px;
}
.google-container h2 {
  font-size: 1.7142857143rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  width: 150px;
  margin-bottom: 20px;
}
.google-container-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  font-size: 0.8571428571rem;
  font-family: "Gotham-Pro-Bold", sans-serif;
  color: #242011;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  width: 160px;
  height: 50px;
  border-width: 1px;
  border-color: #d8d8d8;
  border-style: dashed;
  border-radius: 25px;
  text-decoration: none;
  flex-shrink: 0;
  padding-right: 20px;
}
.google-container-link.google-play {
  padding-left: 50px;
  background-image: url(../images/google-app/google-play.svg);
  background-position: 20px center;
}
.google-container-link.app-store {
  padding-left: 55px;
  background-image: url(../images/google-app/app-store.svg);
  background-position: 25px center;
}
.google-container .google-container-link + .google-container-link {
  margin-top: 10px;
}
.google-container-img {
  background-image: url(../images/google-app/image.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 278px;
  z-index: 10;
  margin-top: -10px;
}

.advantages {
  background-image: url(../images/advantages/background.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 100%;
  height: 1330px;
  padding-top: 100px;
}
.advantages h1 {
  font-size: 4.5714285714rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  line-height: 1.125em;
  text-align: center;
  max-width: 800px;
  margin-bottom: 55px;
}
.advantages-container {
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1100px;
}
.advantages-info {
  align-items: center;
  width: 290px;
}
.advantages-info-img {
  background-size: contain;
}
.advantages-info-img.img-device {
  background-image: url(../images/advantages/device.png);
  width: 109px;
  height: 91px;
}
.advantages-info-img.img-result {
  background-image: url(../images/advantages/result.png);
  width: 115px;
  height: 90px;
  margin-top: 1px;
}
.advantages-info-img.img-achievements {
  background-image: url(../images/advantages/achievements.png);
  width: 97px;
  height: 120px;
}
.advantages-info-img.img-teach {
  background-image: url(../images/advantages/teach.png);
  width: 136px;
  height: 110px;
  margin-top: 10px;
}
.advantages-info h2 {
  font-size: 1.7142857143rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  text-align: center;
  line-height: 1.3em;
  margin-top: 25px;
  margin-bottom: 15px;
}
.advantages-info p {
  font-size: 1.1428571429rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #7c7c7c;
  text-align: center;
  line-height: 1.75em;
  width: 300px;
}
.advantages .advantages-info:nth-of-type(odd) + .advantages-info {
  margin-left: 520px;
}
.advantages .advantages-info:nth-of-type(n+3) + .advantages-info {
  margin-top: 65px;
}

.workouts-and-reviews-background {
  background-image: url(../images/background_workouts-and-reviews.jpg);
  background-position: top center;
  background-color: #fff;
  flex-flow: column;
  align-items: center;
  background-repeat: no-repeat;
}

.workouts {
  padding-bottom: 147px;
}
.workouts h1 {
  font-size: 4.5714285714rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  margin-bottom: 45px;
}
.workouts-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.workouts-card {
  width: 380px;
  align-items: center;
}
.workouts-card-img {
  width: 380px;
  height: 380px;
  background-position: center;
  border-radius: 20px;
  padding: 30px;
}
.workouts-card-img .info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7142857143rem;
  font-family: "Gotham-Pro-Medium", sans-serif;
  color: #fafafa;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 8px;
  width: max-content;
}
.workouts-card-img .info.green {
  background-color: #60d368;
}
.workouts-card-img .info.pink {
  background-color: #f596c6;
}
.workouts-card h2 {
  font-size: 1.7142857143rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  margin-top: 24px;
  margin-bottom: 14px;
}
.workouts-card-price {
  font-size: 1.1428571429rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #a6abb0;
  padding-left: 30px;
  background-image: url(../images/workouts/rub.png);
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  margin-bottom: 20px;
}
.workouts-card-links {
  align-items: center;
}
.workouts-card-links .about {
  font-size: 0.8571428571rem;
  font-family: "Gotham-Pro-Bold", sans-serif;
  color: #fbd121;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.5em;
  border-bottom: 1px dashed #fbd121;
  margin-right: 30px;
}
.workouts-card-links .more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -moz-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  background-image: -webkit-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  background-image: -ms-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  box-shadow: 0px 25px 50px 0px rgba(236, 201, 16, 0.15), 0px 2px 0px 0px rgba(236, 201, 16, 0.004), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
  height: 60px;
  border-radius: 30px;
  padding: 0 30px;
  font-size: 0.7142857143rem;
  font-family: "Gotham-Pro-Bold", sans-serif;
  color: #101010;
  text-transform: uppercase;
  text-decoration: none;
}

.reviews {
  padding-bottom: 65px;
}
.reviews h1 {
  font-size: 4.5714285714rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  text-align: center;
  margin-bottom: 55px;
}

.reviews-photo {
  width: 100%;
}
.reviews-photo-slider {
  position: relative;
}
.reviews-photo-slider-photo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 380px;
  height: 295px;
  border-radius: 15px;
}
.reviews-photo-slider .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 110px;
  width: 78px;
  height: 78px;
  border-radius: 39px;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 5;
}
.reviews-photo-slider .slick-arrow.slick-prev {
  background-image: url(../images/slider-prev.png);
  left: -38px;
}
.reviews-photo-slider .slick-arrow.slick-next {
  background-image: url(../images/slider-next.png);
  right: -38px;
}
.reviews-photo .reviews-photo-append-dots {
  margin: 50px 0;
  height: 30px;
}
.reviews-photo .reviews-photo-append-dots ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.reviews-photo .reviews-photo-append-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.reviews-photo .reviews-photo-append-dots li.slick-active {
  cursor: default;
}
.reviews-photo .reviews-photo-append-dots li + li {
  margin-left: 10px;
}
.reviews-photo .reviews-photo-append-dots button {
  font-size: 0;
  list-style: none;
  width: 6px;
  height: 6px;
  border: none;
  background-image: url(../images/slider-btn.png);
  background-color: transparent;
  background-size: cover;
}
.reviews-photo .reviews-photo-append-dots li.slick-active button {
  width: 10px;
  height: 10px;
  background-image: url(../images/slider-btn-active.png);
}

.reviews-review-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin-top: 35px;
}
.reviews-review-container .reviews-review-slider {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.reviews-review-container .reviews-review {
  align-items: center;
  background-image: url(../images/reviews/reviews-review/background.png);
  background-color: #fff;
  box-shadow: 0px 15px 70px 0px rgba(73, 73, 73, 0.1);
  width: 270px;
  height: 697px;
  border-radius: 10px;
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0 30px;
}
.reviews-review-container .reviews-review h2 {
  font-size: 2.2857142857rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  margin-bottom: 20px;
}
.reviews-review-container .reviews-review .instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/reviews/reviews-review/instagram.png);
  background-position: 20px center;
  background-repeat: no-repeat;
  height: 50px;
  border-radius: 25px;
  border: 1px dashed #d8d8d8;
  font-size: 1.2857142857rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  text-decoration: none;
  padding-right: 25px;
  padding-left: 45px;
}
.reviews-review-container .reviews-review p {
  font-size: 1rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #7c7c7c;
  text-align: center;
  line-height: 2em;
  margin: 40px 0;
}
.reviews-review-container .reviews-review .read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -moz-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  background-image: -webkit-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  background-image: -ms-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  box-shadow: 0px 25px 50px 0px rgba(236, 201, 16, 0.15), 0px 2px 0px 0px rgba(236, 201, 16, 0.004), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
  height: 60px;
  border-radius: 30px;
  padding: 0 42px;
  font-size: 0.7142857143rem;
  font-family: "Gotham-Pro-Bold", sans-serif;
  color: #101010;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 40px;
}
.reviews-review-container .reviews-review-img {
  width: 100%;
  height: 157px;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.how-it-works {
  background-color: #fff;
  background-image: url(../images/how-it-works/background.jpg);
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 65px;
  padding-bottom: 60px;
}
.how-it-works .section-flex-col {
  align-items: flex-start;
}
.how-it-works h1 {
  font-size: 4.5714285714rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
}
.how-it-works-cards {
  display: flex;
  flex-flow: row wrap;
  margin-top: -10px;
}
.how-it-works-card {
  width: 410px;
  margin-top: 40px;
}
.how-it-works-card-img {
  width: 100%;
  height: 120px;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.how-it-works-card-img.img-1 {
  background-image: url(../images/how-it-works/1.png);
}
.how-it-works-card-img.img-2 {
  background-image: url(../images/how-it-works/2.png);
}
.how-it-works-card-img.img-3 {
  background-image: url(../images/how-it-works/3.png);
}
.how-it-works-card-img.img-4 {
  background-image: url(../images/how-it-works/4.png);
  margin-left: -15px;
}
.how-it-works-card-img.img-5 {
  background-image: url(../images/how-it-works/5.png);
}
.how-it-works-card-img.img-6 {
  background-image: url(../images/how-it-works/6.png);
}
.how-it-works-card h2 {
  font-size: 1.7142857143rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  margin-top: 20px;
  margin-bottom: 10px;
}
.how-it-works-card p {
  font-size: 1.1428571429rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #7c7c7c;
  line-height: 1.75em;
}

.pricing {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.pricing h1 {
  font-size: 4.5714285714rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  margin-bottom: 45px;
}
.pricing-cards {
  display: flex;
  flex-flow: row nowrap;
}
.pricing-card {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 56px 14px rgba(40, 40, 40, 0.05);
  width: 335px;
  padding-bottom: 10px;
}
.pricing-card-container {
  position: relative;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 10px 56px 14px rgba(40, 40, 40, 0.05);
  border-radius: 20px;
  width: 380px;
  z-index: 1;
  flex-shrink: 0;
}
.pricing-card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2857142857rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0 0;
}
.pricing-card h2.pink-1 {
  background-color: rgba(245, 150, 198, 0.6);
}
.pricing-card h2.pink-2 {
  background-color: rgba(245, 150, 198, 0.8);
}
.pricing-card h2.pink-3 {
  background-color: #f596c6;
}
.pricing-card h2 .star {
  display: inline-block;
  background-image: url(../images/pricing/star.png);
  width: 16px;
  height: 16px;
  margin-left: 15px;
}
.pricing-card h2 .star + .star {
  margin-left: 10px;
}
.pricing-card-info {
  align-items: center;
  padding-right: 60px;
  height: 86px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  background-image: url(../images/pricing/info.png);
  background-repeat: no-repeat;
  background-position: right 30px center;
}
.pricing-card-info-img {
  width: 100px;
  height: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.pricing-card-info-text {
  font-size: 1.1428571429rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #7c7c7c;
}
.pricing-card-price {
  justify-content: center;
  align-items: center;
  margin: 30px 0 36px 0;
}
.pricing-card-price-value {
  font-size: 2.5714285714rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #2e385f;
}
.pricing-card-price-value.disabled {
  font-size: 1.7142857143rem;
  color: rgba(36, 32, 18, 0.2);
  text-decoration: line-through;
  margin-left: 15px;
}
.pricing-card-pay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -moz-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  background-image: -webkit-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  background-image: -ms-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  box-shadow: 0px 25px 50px 0px rgba(253, 218, 81, 0.15), 0px 3px 0px 0px rgba(236, 201, 16, 0.004), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
  height: 86px;
  max-width: 360px;
  border-radius: 43px;
  font-size: 1rem;
  font-family: "Gotham-Pro-Bold", sans-serif;
  color: #101010;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 50px;
  margin-bottom: 45px;
}
.pricing .pricing-card + .pricing-card {
  margin-left: 62px;
}

.begin {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.begin h1 {
  font-size: 4.5714285714rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  margin-bottom: 60px;
}
.begin-cards {
  display: flex;
  flex-flow: row wrap;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 35px 15px rgba(44, 44, 44, 0.03);
}
.begin-card {
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 35px 15px rgba(44, 44, 44, 0.03);
  width: 292px;
  height: 304px;
  padding-bottom: 45px;
}
.begin-card-img {
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 200px;
}
.begin-card-img.img-1 {
  background-image: url(../images/begin/1.png);
}
.begin-card-img.img-2 {
  background-image: url(../images/begin/2.png);
}
.begin-card-img.img-3 {
  background-image: url(../images/begin/3.png);
  margin-bottom: -41px;
}
.begin-card-img.img-4 {
  background-image: url(../images/begin/4.png);
}
.begin-card-img.img-5 {
  background-image: url(../images/begin/5.png);
}
.begin-card-img.img-6 {
  background-image: url(../images/begin/6.png);
}
.begin-card-img.img-7 {
  background-image: url(../images/begin/7.png);
  margin-bottom: -3px;
}
.begin-card-img.img-8 {
  background-image: url(../images/begin/8.png);
}
.begin-card-text {
  font-size: 1.2857142857rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #242011;
  text-align: center;
  margin: 15px 30px 0 30px;
}

.contact {
  background-image: url(../images/contact-form/background.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 60px;
}
.contact-container {
  background-color: #fff;
  box-shadow: 0px 0px 35px 15px rgba(44, 44, 44, 0.03);
  width: 1050px;
  height: 715px;
  border-radius: 20px;
  padding: 110px 0 0 100px;
  margin-left: -120px;
  margin-bottom: 140px;
}
.contact-form {
  z-index: 20;
}
.contact-form h1 {
  font-size: 3rem;
  font-family: "Berlingske-Serif-Lt", serif;
  color: #242011;
  margin-bottom: 35px;
}
.contact-form h1 .big {
  font-size: 4.5714285714rem;
}
.contact-form p {
  font-size: 1.2857142857rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #242011;
  opacity: 0.7;
  margin-bottom: 60px;
}
.contact-form-inputs {
  display: flex;
  flex-flow: row wrap;
}
.contact-form-inputs-text {
  display: flex;
  align-items: center;
  font-size: 1.2857142857rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #242011;
  background-color: #f8f8f8;
  width: 360px;
  height: 86px;
  border-radius: 43px;
  padding-left: 110px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: left 36px center;
  background-size: contain;
  margin-bottom: 20px;
}
.contact-form-inputs-text::placeholder {
  font-size: 1.2857142857rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #242011;
}
.contact-form-inputs-text.name {
  background-image: url(../images/contact-form/name.png);
  margin-right: 15px;
}
.contact-form-inputs-text.phone {
  background-image: url(../images/contact-form/phone.png);
}
.contact-form-inputs-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Gotham-Pro-Bold", sans-serif;
  color: #101010;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-image: -moz-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  background-image: -webkit-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  background-image: -ms-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
  box-shadow: 0px 25px 50px 0px rgba(253, 215, 65, 0.15), 0px 3px 0px 0px rgba(236, 201, 16, 0.004), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
  width: 360px;
  height: 86px;
  border-radius: 43px;
  cursor: pointer;
  padding: 0 50px;
  margin-bottom: 20px;
  margin-right: 15px;
}
.contact-form-info {
  justify-content: center;
  margin-left: 10px;
}
.contact-form-info-text {
  font-size: 1rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #adaba5;
  margin-bottom: 10px;
}
.contact-form-info-phone {
  font-size: 1.2857142857rem;
  font-family: "Gotham-Pro-Bold", sans-serif;
  color: #242011;
}
.contact-form .personal-data-input {
  display: none;
}
.contact-form .personal-data-label {
  display: inline-block;
  font-size: 0.9285714286rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #adaba5;
  background-image: url(../images/contact-form/checkbox.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  min-width: 16px;
  height: 16px;
  padding-left: 30px;
  user-select: none;
  cursor: pointer;
}
.contact-form .personal-data .personal-data-input:checked + .personal-data-label {
  background-image: url(../images/contact-form/checkbox-checked.png);
}

.footer {
  width: 100%;
  height: 0;
  position: relative;
}
.footer:after {
  content: "";
  position: absolute;
  bottom: -100%;
  background-image: url(../images/footer/background.png);
  left: 0;
  width: 1711px;
  height: 719px;
  background-position: center;
}
.footer-container {
  position: absolute;
  height: 140px;
  bottom: 0;
  align-items: center;
  width: 900px;
  z-index: 10;
  margin-left: -270px;
}
.footer-title {
  font-size: 0.9285714286rem;
  font-family: "Gotham-Pro-Light", sans-serif;
  color: #7c7c7c;
  width: 110px;
  line-height: 1.7em;
  margin-left: 30px;
}
.footer-title .online {
  display: inline-block;
  background-image: url(../images/header/online.png);
  background-size: cover;
  width: 7px;
  height: 7px;
  margin-left: 1px;
  margin-right: 9px;
  margin-bottom: 1px;
}
.footer-devise-show {
  display: none;
}
.footer-phone {
  font-size: 1.4285714286rem;
  font-family: "Circe-Regular", sans-serif;
  color: #242011;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
}
.footer-email {
  font-size: 0.9285714286rem;
  font-family: "Circe-Light", sans-serif;
  color: #7c7c7c;
}
.footer-instagram {
  background-image: url(../images/header/instagram.png);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-size: cover;
  margin: 0 30px;
}
.footer-request {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  font-size: 0.7142857143rem;
  font-family: "Gotham-Pro-Bold", sans-serif;
  color: #242011;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  background-color: #fff;
  box-shadow: 0px 25px 50px 0px rgba(125, 125, 125, 0.15), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
  height: 60px;
  border-radius: 30px;
  margin-right: 20px;
}

@media all and (max-width: 760px) {
  .br {
    display: none;
  }

  .br-m {
    display: inline;
  }

  .section-flex-row, .section-flex-col {
    display: flex;
    width: 290px;
    align-items: center;
    padding: 0;
    margin: 0 15px;
  }

  .fl-col-media {
    display: flex;
    flex-flow: column nowrap;
  }

  .fl-row-media {
    display: flex;
    flex-flow: row nowrap;
  }

  .site-logo {
    background-image: url(../images/media/site-logo.png);
    background-position: center;
    background-size: contain;
    width: 74px;
    height: 34px;
  }

  .header {
    flex-flow: column;
    align-items: center;
    height: 0px;
    background-color: #fff;
  }
  .header .nav-container {
    display: none;
  }
  .header nav {
    align-items: center;
    height: 100%;
    font-size: 1.1428571429rem;
    font-family: "Circe-Light", sans-serif;
    color: #7c7c7c;
  }
  .header nav .separator {
    background-color: #8d8d8d;
    opacity: 0.102;
    width: 1px;
    height: 34px;
  }
  .header nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1428571429rem;
    font-family: "Circe-Light", sans-serif;
    color: #7c7c7c;
    text-decoration: none;
    height: 100%;
    width: 162px;
  }
  .header .rel {
    width: 100%;
    height: 0;
    position: relative;
    flex-shrink: 0;
  }
  .header .header-container {
    height: 83px;
  }
  .header .site-logo-container {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header-title {
    margin-left: 0;
  }
  .header-title .online {
    display: inline-block;
    background-image: url(../images/header/online.png);
    background-size: cover;
    width: 7px;
    height: 7px;
    margin-left: 1px;
    margin-right: 9px;
    margin-bottom: 1px;
  }
  .header-devise-show {
    display: block;
    background-image: url(../images/media/header-show.png);
    background-size: contain;
    width: 62px;
    height: 62px;
    border-radius: 31px;
    cursor: pointer;
  }
  .header-phone {
    display: none;
  }
  .header-email {
    display: none;
  }
  .header-instagram {
    display: none;
  }
  .header-request {
    display: none;
  }

  .main {
    background-image: url(../images/main/background_devise.jpg);
    padding-top: 115px;
    height: 1214px;
  }
  .main-slider {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main-slider .slide:nth-child(n+2) {
    display: none;
  }
  .main-slider .slick-arrow {
    display: none;
  }
  .main .main-append-dots {
    display: none;
  }

  .start {
    width: 290px;
    padding: unset;
    justify-content: space-between;
  }
  .start-test {
    width: 290px;
  }
  .start-test h1 {
    font-size: 2.8571428571rem;
    line-height: 1.1em;
    width: 240px;
    margin-bottom: 15px;
  }
  .start-test-img {
    display: none;
  }
  .start-test p {
    font-size: 1rem;
    width: 100%;
  }
  .start-test p .pink {
    color: #f596c6;
  }
  .start-test-button {
    font-size: 0.9285714286rem;
    padding: 0;
    width: 290px;
    margin-top: 25px;
  }
  .start .title-media {
    display: block;
    margin-top: 35px;
  }
  .start-clients {
    width: unset;
  }
  .start-clients h2 {
    display: none;
  }
  .start-client-name {
    font-size: 0.9285714286rem;
    margin-top: 5px;
  }
  .start .start-client:nth-of-type(2) {
    order: 1;
  }
  .start .start-client:nth-of-type(4) {
    order: 1;
  }

  .google-container {
    position: unset;
    margin-top: 30px;
  }
  .google-container h2 {
    font-size: 1.7142857143rem;
    font-family: "Berlingske-Serif-Lt", serif;
    color: #242011;
    width: 150px;
    margin-bottom: 20px;
  }
  .google-container-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    font-size: 0.8571428571rem;
    font-family: "Gotham-Pro-Bold", sans-serif;
    color: #242011;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    width: 160px;
    height: 50px;
    border-width: 1px;
    border-color: #d8d8d8;
    border-style: dashed;
    border-radius: 25px;
    text-decoration: none;
    flex-shrink: 0;
    padding-right: 20px;
  }
  .google-container-link.google-play {
    padding-left: 50px;
    background-image: url(../images/google-app/google-play.svg);
    background-position: 20px center;
  }
  .google-container-link.app-store {
    padding-left: 55px;
    background-image: url(../images/google-app/app-store.svg);
    background-position: 25px center;
  }
  .google-container .google-container-link + .google-container-link {
    margin-top: 10px;
  }
  .google-container-img {
    background-image: url(../images/google-app/image.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 278px;
    z-index: 10;
    margin-top: -10px;
  }

  .advantages {
    background-image: url(../images/advantages/background-devise.jpg);
    background-position: left -100px top;
    height: 1820px;
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .advantages h1 {
    font-size: 2.4285714286rem;
    width: 300px;
    margin-bottom: 415px;
  }
  .advantages-container {
    flex-flow: row wrap;
    justify-content: center;
    width: 290px;
  }
  .advantages .advantages-info + .advantages-info {
    margin-top: 40px;
  }
  .advantages .advantages-info:nth-of-type(odd) + .advantages-info {
    margin-left: unset;
  }
  .advantages .advantages-info:nth-of-type(n+3) + .advantages-info {
    margin-top: unset;
  }

  .workouts-and-reviews-background {
    background-image: url(../images/background_workouts-and-reviews_devise.jpg);
    background-position: top right;
    padding-top: 70px;
  }

  .workouts {
    padding-bottom: 30px;
  }
  .workouts h1 {
    font-size: 2.4285714286rem;
    width: 290px;
    text-align: center;
    margin-bottom: 35px;
  }
  .workouts-cards {
    position: relative;
    display: block;
    grid-template-columns: unset;
    grid-gap: unset;
    width: 290px;
  }
  .workouts-cards .slick-arrow {
    font-size: 0;
    position: absolute;
    top: 162px;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    z-index: 5;
  }
  .workouts-cards .slick-arrow.slick-prev {
    background-image: url(../images/slider-prev_devise.png);
    left: -14px;
  }
  .workouts-cards .slick-arrow.slick-next {
    background-image: url(../images/slider-next_devise.png);
    right: -14px;
  }
  .workouts .workouts-append-dots {
    height: 30px;
    margin-top: 60px;
  }
  .workouts .workouts-append-dots ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .workouts .workouts-append-dots li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .workouts .workouts-append-dots li.slick-active {
    cursor: default;
  }
  .workouts .workouts-append-dots li + li {
    margin-left: 10px;
  }
  .workouts .workouts-append-dots button {
    font-size: 0;
    list-style: none;
    width: 6px;
    height: 6px;
    border: none;
    background-image: url(../images/slider-btn.png);
    background-color: transparent;
    background-size: cover;
  }
  .workouts .workouts-append-dots li.slick-active button {
    width: 10px;
    height: 10px;
    background-image: url(../images/slider-btn-active.png);
  }
  .workouts-card {
    width: 290px;
    align-items: center;
  }
  .workouts-card-img {
    width: 290px;
    padding: 15px;
  }
  .workouts-card-links {
    flex-flow: column nowrap;
  }
  .workouts-card-links .about {
    order: 1;
    margin-top: 30px;
    margin-right: unset;
  }
  .reviews {
    width: 290px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .reviews h1 {
    font-size: 2.4285714286rem;
    width: 290px;
    margin-bottom: 55px;
  }

  .reviews-photo-slider {
    position: relative;
  }
  .reviews-photo-slider-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 290px;
    height: 225px;
    border-radius: 15px;
  }
  .reviews-photo-slider .slick-arrow {
    font-size: 0;
    position: absolute;
    top: 85px;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
  }
  .reviews-photo-slider .slick-arrow.slick-prev {
    background-image: url(../images/slider-prev_devise.png);
    left: -14px;
  }
  .reviews-photo-slider .slick-arrow.slick-next {
    background-image: url(../images/slider-next_devise.png);
    right: -14px;
  }
  .reviews-photo .reviews-photo-append-dots {
    display: none;
  }

  .reviews-review-container {
    flex-flow: column nowrap;
  }
  .reviews-review-container .reviews-review-slider {
    display: block;
    width: 270px;
    box-shadow: 0px 15px 70px 0px rgba(73, 73, 73, 0.1);
    border-radius: 10px;
  }
  .reviews-review-container .reviews-review-append-dots {
    height: 30px;
    margin-top: 30px;
  }
  .reviews-review-container .reviews-review-append-dots ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .reviews-review-container .reviews-review-append-dots li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .reviews-review-container .reviews-review-append-dots li.slick-active {
    cursor: default;
  }
  .reviews-review-container .reviews-review-append-dots li + li {
    margin-left: 10px;
  }
  .reviews-review-container .reviews-review-append-dots button {
    font-size: 0;
    list-style: none;
    width: 6px;
    height: 6px;
    border: none;
    background-image: url(../images/slider-btn.png);
    background-color: transparent;
    background-size: cover;
  }
  .reviews-review-container .reviews-review-append-dots li.slick-active button {
    width: 10px;
    height: 10px;
    background-image: url(../images/slider-btn-active.png);
  }
  .reviews-review-container .reviews-review-slide {
    width: 270px;
  }
  .reviews-review-container .reviews-review {
    background-size: contain;
    box-shadow: unset;
    width: 270px;
    margin: 0;
  }
  .reviews-review-container .reviews-review h2 {
    font-size: 2.2857142857rem;
    font-family: "Berlingske-Serif-Lt", serif;
    color: #242011;
    margin-bottom: 20px;
  }
  .reviews-review-container .reviews-review .instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/reviews/reviews-review/instagram.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    height: 50px;
    border-radius: 25px;
    border: 1px dashed #d8d8d8;
    font-size: 1.2857142857rem;
    font-family: "Berlingske-Serif-Lt", serif;
    color: #242011;
    text-decoration: none;
    padding-right: 25px;
    padding-left: 45px;
  }
  .reviews-review-container .reviews-review p {
    font-size: 1rem;
    font-family: "Gotham-Pro-Light", sans-serif;
    color: #7c7c7c;
    text-align: center;
    line-height: 2em;
    margin: 40px 0;
  }
  .reviews-review-container .reviews-review .read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: -moz-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
    background-image: -webkit-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
    background-image: -ms-linear-gradient(90deg, #fbce10 0%, #fee176 100%);
    box-shadow: 0px 25px 50px 0px rgba(236, 201, 16, 0.15), 0px 2px 0px 0px rgba(236, 201, 16, 0.004), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
    height: 60px;
    border-radius: 30px;
    padding: 0 42px;
    font-size: 0.7142857143rem;
    font-family: "Gotham-Pro-Bold", sans-serif;
    color: #101010;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 40px;
  }
  .reviews-review-container .reviews-review-img {
    width: 100%;
    height: 157px;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  .how-it-works {
    background-image: unset;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .how-it-works .section-flex-col {
    align-items: flex-start;
  }
  .how-it-works h1 {
    font-size: 2.4285714286rem;
    white-space: nowrap;
  }
  .how-it-works-cards {
    display: flex;
    flex-flow: row wrap;
    margin-top: -10px;
  }
  .how-it-works-card {
    align-items: center;
    width: 290px;
    margin-top: 20px;
  }
  .how-it-works-card-img {
    background-position: bottom center;
  }
  .how-it-works-card h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .how-it-works-card p {
    text-align: center;
    width: 300px;
  }

  .pricing {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pricing h1 {
    font-size: 2.4285714286rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .pricing-cards {
    flex-flow: column nowrap;
    align-items: center;
    width: 320px;
  }
  .pricing-card {
    width: 290px;
  }
  .pricing-card-container {
    width: 320px;
  }
  .pricing .pricing-card + .pricing-card {
    margin-left: unset;
    margin-top: 20px;
  }

  .begin {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .begin h1 {
    font-size: 2.4285714286rem;
    text-align: center;
    margin-bottom: 30px;
  }
  .contact {
    padding-top: 5px;
    padding-bottom: 95px;
    position: relative;
  }
  .contact:before {
    content: "";
    position: absolute;
    top: 275px;
    left: 0;
    background-image: url(../images/contact-form/background-left_devise.png);
    background-position: left top;
    width: 62px;
    height: 420px;
    z-index: 10;
  }
  .contact-container {
    background-image: url(../images/contact-form/background_devise.jpg);
    background-repeat: no-repeat;
    background-position: right top 132px;
    width: 290px;
    height: 730px;
    padding: 35px 20px 25px;
  }
  .contact-form {
    width: 100%;
  }
  .contact-form h1 {
    font-size: 2.4285714286rem;
    margin-bottom: 20px;
  }
  .contact-form h1 .big {
    font-size: 2.4285714286rem;
  }
  .contact-form p {
    font-size: 1rem;
    width: 170px;
    margin-bottom: 25px;
  }
  .contact-form-inputs-text {
    font-size: 1rem;
    width: 245px;
  }
  .contact-form-inputs-text::placeholder {
    font-size: 1rem;
  }
  .contact-form-inputs-text.name {
    margin-right: 0;
  }
  .contact-form-inputs-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7857142857rem;
    color: #fafafa;
    width: 245px;
    padding: 0;
    margin-right: 0;
  }
  .contact-form-info {
    display: none;
  }
  .contact-form .personal-data-input {
    display: none;
  }
  .contact-form .personal-data-label {
    display: inline-block;
    font-size: 0.9285714286rem;
    font-family: "Gotham-Pro-Light", sans-serif;
    color: #adaba5;
    background-image: url(../images/contact-form/checkbox.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    min-width: 16px;
    height: 16px;
    padding-left: 30px;
    user-select: none;
    cursor: pointer;
  }
  .contact-form .personal-data .personal-data-input:checked + .personal-data-label {
    background-image: url(../images/contact-form/checkbox-checked.png);
  }

  .footer:after {
    content: unset;
  }
  .footer-container {
    height: 95px;
  }
  .footer .site-logo-container {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer-devise-show {
    display: block;
    background-image: url(../images/media/header-show.png);
    background-size: contain;
    width: 62px;
    height: 62px;
    border-radius: 31px;
    cursor: pointer;
  }
  .footer-phone {
    display: none;
  }
  .footer-email {
    display: none;
  }
  .footer-instagram {
    display: none;
  }
  .footer-request {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
