.reviews-reviews {
  background-image: url(../images/reviews/reviews-review/background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-color: $background-primary;

  height: 1412px;

  .reviews-review {


    h2 {}

    .instagram {}

    p {}

    .read-more {}

    &-img {}
  }
}