.google-container {
  position: absolute;
  right: 20px;
  top: 208px;
  padding-top: 48px;
  align-items: center;
  background-image: url(../images/google-app/background.png);
  width: 266px;
  height: 474px;

  h2 {
    font-size: $font-size-24;
    font-family: $berlingske-serif-lt;
    color: $color-phone;
    width: 150px;

    margin-bottom: 20px;
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 160px;
    height: 50px;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    border-style: dashed;
    border-radius: 25px;
    text-decoration: none;
    flex-shrink: 0;

    padding-right: 20px;

    &.google-play {
      padding-left: 50px;
      background-image: url(../images/google-app/google-play.svg);
      background-position: 20px center;
    }

    &.app-store {
      padding-left: 55px;
      background-image: url(../images/google-app/app-store.svg);
      background-position: 25px center;
    }
  }

  .google-container-link + .google-container-link {
    margin-top: 10px;
  }

  &-img {
    background-image: url(../images/google-app/image.png);
    width: 333px;
    height: 278px;
    z-index: 10;
    margin-top: -10px;
  }
}