.reviews-photo {
  width: 100%;

  &-slider {
    //height: 295px;

    &-photo {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 380px;
      height: 295px;
      border-radius: 15px;
    }
  }
}

