.reviews-review-container {
  background-color: $background-primary;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .reviews-review {
    background-image: url(../images/reviews/reviews-review/background.png);
    width: 270px;
    height: 697px;
    align-items: center;
    padding-top: 50px;
    padding-right: 25px;
    padding-left: 25px;

    h2 {
      font-size: $font-size-32;
      font-family: $berlingske-serif-lt;
      color: $color-phone;
    }

    .instagram {
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      height: 50px;
      border-width: 1px;
      border-color: rgb(216, 216, 216);
      border-style: dashed;
      border-radius: 25px;

      padding-right: 25px;
      padding-left: 45px;
      background-image: url(../images/reviews/reviews-review/instagram.png);
      background-position: 20px center;
    }

    p {
      font-size: $font-size-normal;
      font-family: $gotham-pro-light;
      color: $color-nav;
      line-height: 2em;

      margin: 37px 0;
    }

    .read-more {
      display: flex;
      justify-content: center;
      align-items: center;

      background-image: -moz-linear-gradient(90deg, rgb(251, 206, 16) 0%, rgb(254, 225, 118) 100%);
      background-image: -webkit-linear-gradient(90deg, rgb(251, 206, 16) 0%, rgb(254, 225, 118) 100%);
      background-image: -ms-linear-gradient(90deg, rgb(251, 206, 16) 0%, rgb(254, 225, 118) 100%);
      box-shadow: 0px 25px 50px 0px rgba(236, 201, 16, 0.15), 0px 2px 0px 0px rgba(236, 201, 16, 0.004), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
      height: 60px;
      padding: 0 42px;

      font-size: $font-size-10;
      font-family: $gotham-pro-bold;
      color: $color-button-1;
      text-transform: uppercase;
    }

    &-img {
      width: 158px;
      height: 188px;
    }
  }
}