// Fonts
$gotham-pro-regular: "Gotham-Pro-Regular", sans-serif;
$gotham-pro-light: "Gotham-Pro-Light", sans-serif;
$gotham-pro-bold: "Gotham-Pro-Bold", sans-serif;
$circe-regular: "Circe-Regular", sans-serif;
$circe-light: "Circe-Light", sans-serif;
$berlingske-serif-lt: "Berlingske-Serif-Lt", sans-serif;


// Font colors


// Font size


// Background
$background-primary: #fff;
$background-secondary: #fafafa;
$background-pricing-title-1: rgb(245, 150, 198, 0.6);
$background-pricing-title-2: rgb(245, 150, 198, 0.8);
$background-pricing-title-3: rgb(245, 150, 198);
