@font-face {
  font-family: "Gotham-Pro-Regular";
  src: url('../fonts/Ghotam-Pro/GothamPro.ttf');
}

@font-face {
  font-family: "Gotham-Pro-Light";
  src: url('../fonts/Ghotam-Pro/GothamPro-Light.ttf');
}

@font-face {
  font-family: "Gotham-Pro-Medium";
  src: url('../fonts/Ghotam-Pro/GothamPro-Medium.ttf');
}

@font-face {
  font-family: "Gotham-Pro-Bold";
  src: url('../fonts/Ghotam-Pro/GothamPro-Bold.ttf');
}

@font-face {
  font-family: "Circe-Regular";
  src: url('../fonts/Circe/Circe-Regular.ttf');
}

@font-face {
  font-family: "Circe-Light";
  src: url('../fonts/Circe/Circe-Light.ttf');
}

@font-face {
  font-family: "Berlingske-Serif-Lt";
  src: url('../fonts/Berlingske/BerlingskeSerif-LT.ttf');
}