.footer {
  width: 100%;
  height: 0;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -100%;
    background-image: url(../images/footer/background.png);
    left: 0;
    width: 1711px;
    height: 719px;
    background-position: center;
  }

  &-container {
    position: absolute;
    height: 140px;
    bottom: 0;
    align-items: center;
    width: 900px;
    z-index: 10;
    margin-left: -270px;
  }

  &-title {
    @include fontSize(13);
    font-family: $gotham-pro-light;
    color: $color-nav;
    width: 110px;
    line-height: 1.7em;

    margin-left: 30px;

    .online {
      display: inline-block;
      background-image: url(../images/header/online.png);
      background-size: cover;
      width: 7px;
      height: 7px;
      margin-left: 1px;
      margin-right: 9px;
      margin-bottom: 1px;
    }
  }

  &-devise-show {
    display: none;
  }

  &-phone {
    @include fontSize(20);
    font-family: $circe-regular;
    color: $color-phone;
    letter-spacing: 0.05em;

    margin-bottom: 5px;
  }

  &-email {
    @include fontSize(13);
    font-family: $circe-light;
    color: $color-nav;
  }

  &-instagram {
    background-image: url(../images/header/instagram.png);
    width: 60px;
    @include border-radius-and-height(60px);
    background-size: cover;

    margin: 0 30px;
  }

  &-request {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;

    @include fontSize(10);
    font-family: $gotham-pro-bold;
    color: $color-phone;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;

    background-color: $background-primary;
    box-shadow: 0px 25px 50px 0px rgba(125, 125, 125, 0.15),inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
    @include border-radius-and-height(60px);

    margin-right: 20px;
  }
}