.header {
  flex-flow: column;
  align-items: center;
  height: 57px;
  background-color: $background-primary;

  .nav-container {
    height: 100%;
  }

  nav {
    align-items: center;
    height: 100%;
    @include fontSize(16);
    font-family: $circe-light;
    color: $color-nav;

    .separator {
      background-color: rgb(141, 141, 141);
      opacity: 0.102;

      width: 1px;
      height: 34px;
    }

    .nav-link-select-container {
      position: relative;
    }

    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;

      @include fontSize(16);
      font-family: $circe-light;
      color: $color-nav;
      text-decoration: none;

      height: 100%;
      width: 162px;
    }

    .nav-link-btn {
      cursor: pointer;
      user-select: none;
    }

    .nav-link-btn.opened + .nav-link-select {
      max-height: 500px;
    }

    .nav-link-select {
      position: absolute;
      top: 30px;
      left: 0;
      max-height: 0;
      overflow: hidden;
      z-index: 10;
      background-color: $background-primary;
    }
  }

  .rel {
    width: 100%;
    height: 0;
    position: relative;
    flex-shrink: 0;
  }

  .header-container {
    position: absolute;
    top: 0;
    align-items: flex-end;
    height: 95px;
    z-index: 10;
  }

  &-title {
    @include fontSize(13);
    font-family: $gotham-pro-light;
    color: $color-nav;
    width: 110px;
    line-height: 1.7em;

    margin-right: auto;
    margin-left: 30px;

    .online {
      display: inline-block;
      background-image: url(../images/header/online.png);
      background-size: cover;
      width: 7px;
      height: 7px;
      margin-left: 1px;
      margin-right: 9px;
      margin-bottom: 1px;
    }
  }

  &-devise-show {
    display: none;
  }

  &-phone {
    @include fontSize(20);
    font-family: $circe-regular;
    color: $color-phone;
    letter-spacing: 0.05em;

    margin-bottom: 5px;
  }

  &-contact {
    justify-content: flex-end;
  }

  &-email {
    @include fontSize(13);
    font-family: $circe-light;
    color: $color-nav;
  }

  &-instagram {
    background-image: url(../images/header/instagram.png);
    width: 60px;
    @include border-radius-and-height(60px);
    background-size: cover;
    flex-shrink: 0;

    margin: 0 30px;
  }

  &-request {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;

    @include fontSize(10);
    font-family: $gotham-pro-bold;
    color: $color-phone;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;

    background-image: -moz-linear-gradient(-90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 25px 50px 0px rgba(125, 125, 125, 0.15), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
    @include border-radius-and-height(60px);

    margin-right: 20px;
  }
}