.how-it-works {
  background-color: $background-primary;
  background-image: url(../images/how-it-works/background.jpg);
  background-position: right;
  background-repeat: no-repeat;

  padding-top: 65px;
  padding-bottom: 60px;

  .section-flex-col {
    align-items: flex-start;
  }

  h1 {
    font-size: $font-size-64;
    font-family: $berlingske-serif-lt;
    color: $color-phone;
  }

  &-cards {
    display: flex;
    flex-flow: row wrap;
    margin-top: -10px;
  }

  &-card {
    width: 410px;
    margin-top: 40px;

    &-img {
      width: 100%;
      height: 120px;
      background-position: bottom left;
      background-repeat: no-repeat;

      &.img-1 {
        background-image: url(../images/how-it-works/1.png);
      }

      &.img-2 {
        background-image: url(../images/how-it-works/2.png);
      }

      &.img-3 {
        background-image: url(../images/how-it-works/3.png);
      }

      &.img-4 {
        background-image: url(../images/how-it-works/4.png);
        margin-left: -15px;
      }

      &.img-5 {
        background-image: url(../images/how-it-works/5.png);
      }

      &.img-6 {
        background-image: url(../images/how-it-works/6.png);
      }
    }

    h2 {
      font-size: $font-size-24;
      font-family: $berlingske-serif-lt;
      color: $color-phone;

      margin-top: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: $font-size-16;
      font-family: $gotham-pro-light;
      color: $color-nav;
      line-height: 1.75em;
    }
  }
}