.main {
  background-image: url(../images/main/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 210px;
  height: 900px;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  &-slider {
    width: 1230px;
    position: relative;

    .slick-arrow {
      font-size: 0;
      position: absolute;
      top: 200px;
      width: 78px;
      @include border-radius-and-height(78px);
      background-size: contain;
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 5;

      &.slick-prev {
        background-image: url(../images/slider-prev.png);
        left: -103px;
      }

      &.slick-next {
        background-image: url(../images/slider-next.png);
        right: -55px;
      }
    }
  }

  .main-append-dots {
    margin-top: 110px;
    height: 30px;

    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    li.slick-active {
      cursor: default;
    }

    li + li {
      margin-left: 10px;
    }

    button {
      font-size: 0;
      list-style: none;
      width: 6px;
      height: 6px;
      border: none;
      background-image: url(../images/slider-btn.png);
      background-color: transparent;
      background-size: cover;

    }

    li.slick-active button {
      width: 10px;
      height: 10px;
      background-image: url(../images/slider-btn-active.png);
    }
  }
}

@import "component_start";