.main {
  background-image: url(../images/main/background.jpg);
  //background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 210px;
  height: 900px;

  &-slider {
    align-items: flex-start;

    &-slide {

    }
  }
}

@import "component_start";