.reviews {
  background-color: $background-primary;
  padding-bottom: 65px;

  h1 {
    font-size: $font-size-64;
    font-family: $berlingske-serif-lt;
    color: $color-phone;
    text-align: center;

    margin-bottom: 55px;
  }
}