@media all and (max-width: 880px) {
  .advantages {
    background-image: url(../images/advantages/background-devise.jpg);
    background-position: center top;
    height: 1820px;
    padding-top: 35px;
    padding-bottom: 20px;

    h1 {
      @include fontSize(34);
      width: 300px;

      margin-bottom: 415px;
    }

    &-container {
      flex-flow: row wrap;
      justify-content: center;
      width: 290px;
    }

    .advantages-info + .advantages-info {
      margin-top: 40px;
    }

    .advantages-info:nth-of-type(odd) + .advantages-info {
      margin-left: unset;
    }

    .advantages-info:nth-of-type(n+3) + .advantages-info {
      margin-top: unset;
    }
  }
}