@media all and (max-width: 1230px) {
  .begin {
    .begin-cards {
      width: 876px;
    }
  }
}

@media all and (max-width: 880px) {
  .begin {
    padding-top: 20px;
    padding-bottom: 10px;

    .begin-cards {
      width: 584px;
    }

    h1 {
      @include fontSize(34);
      text-align: center;

      margin-bottom: 30px;
    }
  }
}

@media all and (max-width: 615px) {
  .begin{
    .begin-cards {
      width: 100%;
    }
  }
}