@media all and (max-width: 1230px) {
  .workouts-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 880px) {
  .workouts {
    padding-bottom: 30px;

    h1 {
      @include fontSize(34);
      width: 290px;
      text-align: center;

      margin-bottom: 35px;
    }

    &-cards {
      position: relative;
      display: block;
      grid-template-columns: unset;
      grid-gap: unset;
      width: 290px;

      .slick-arrow {
        font-size: 0;
        position: absolute;
        top: 162px;
        width: 45px;
        @include border-radius-and-height(45px);
        background-size: contain;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        z-index: 5;

        &.slick-prev {
          background-image: url(../images/slider-prev_devise.png);
          left: -14px;
        }

        &.slick-next {
          background-image: url(../images/slider-next_devise.png);
          right: -14px;
        }
      }
    }

    .workouts-append-dots {
      height: 30px;
      margin-top: 60px;

      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30px;
        height: 30px;
        cursor: pointer;
      }

      li.slick-active {
        cursor: default;
      }

      li + li {
        margin-left: 10px;
      }

      button {
        font-size: 0;
        list-style: none;
        width: 6px;
        height: 6px;
        border: none;
        background-image: url(../images/slider-btn.png);
        background-color: transparent;
        background-size: cover;

      }

      li.slick-active button {
        width: 10px;
        height: 10px;
        background-image: url(../images/slider-btn-active.png);
      }
    }

    &-card {
      width: 290px;
      align-items: center;

      &-img {
        width: 290px;
        padding: 15px;
      }

      &-links {
        flex-flow: column nowrap;

        .about {
          order: 1;
          margin-top: 30px;
          margin-right: unset;
        }
      }
    }
  }
}