.pricing {
  //background-color: $background-primary;
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    @include fontSize(34);
    //font-family: $berlingske-serif-lt;
    //color: $color-phone;
    text-align: center;

    margin-bottom: 15px;
  }

  &-cards {
    //display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 320px;
  }

  &-card {
    //display: flex;
    //justify-content: center;
    //border-radius: 20px;
    //background-color: $background-primary;
    //box-shadow: 0px 10px 56px 14px rgba(40, 40, 40, 0.05);
    width: 290px;
    //padding-bottom: 10px;

    &-container {
      //position: relative;
      //align-items: center;
      //background-color: $background-primary;
      //box-shadow: 0px 10px 56px 14px rgba(40, 40, 40, 0.05);
      //border-radius: 20px;
      width: 320px;
      //z-index: 1;
      //flex-shrink: 0;
    }

  //  h2 {
  //    display: flex;
  //    justify-content: center;
  //    align-items: center;
  //    @include fontSize(32);
  //    font-family: $berlingske-serif-lt;
  //    color: $color-phone;
  //    width: 100%;
  //    height: 120px;
  //    border-radius: 20px 20px 0 0;
  //
  //    &.pink-1 {
  //      background-color: $background-pink-60;
  //    }
  //
  //    &.pink-2 {
  //      background-color: $background-pink-80;
  //    }
  //
  //    &.pink-3 {
  //      background-color: $background-pink-100;
  //    }
  //
  //    .star {
  //      display: inline-block;
  //      background-image: url(../images/pricing/star.png);
  //      width: 16px;
  //      height: 16px;
  //
  //      margin-left: 15px;
  //    }
  //
  //    .star + .star {
  //      margin-left: 10px;
  //    }
  //  }
  //
  //  &-info {
  //    align-items: center;
  //    padding-right: 60px;
  //    height: 86px;
  //    border-bottom: 1px solid rgb(0, 0, 0, 0.03);
  //    background-image: url(../images/pricing/info.png);
  //    background-repeat: no-repeat;
  //    background-position: right 30px center;
  //
  //    &-img {
  //      width: 100px;
  //      height: 100%;
  //      background-position: center bottom;
  //      background-repeat: no-repeat;
  //
  //      margin-left: 20px;
  //    }
  //
  //    &-text {
  //      @include fontSize(16);
  //      font-family: $gotham-pro-light;
  //      color: $color-nav;
  //    }
  //  }
  //
  //  &-price {
  //    justify-content: center;
  //    align-items: center;
  //    margin: 30px 0 36px 0;
  //
  //    &-value {
  //      @include fontSize(36);
  //      font-family: $berlingske-serif-lt;
  //      color: $color-price;
  //
  //      &.disabled {
  //        @include fontSize(24);
  //        color: $color-price-disabled;
  //        text-decoration: line-through;
  //        margin-left: 15px;
  //      }
  //    }
  //  }
  //
  //  &-pay {
  //    display: flex;
  //    justify-content: center;
  //    align-items: center;
  //
  //    background-image: -moz-linear-gradient(90deg, rgb(251, 206, 16) 0%, rgb(254, 225, 118) 100%);
  //    background-image: -webkit-linear-gradient(90deg, rgb(251, 206, 16) 0%, rgb(254, 225, 118) 100%);
  //    background-image: -ms-linear-gradient(90deg, rgb(251, 206, 16) 0%, rgb(254, 225, 118) 100%);
  //    box-shadow: 0px 25px 50px 0px rgba(253, 218, 81, 0.15), 0px 3px 0px 0px rgba(236, 201, 16, 0.004), inset 0px 6px 17px 0px rgba(255, 255, 255, 0.25);
  //    height: 86px;
  //    max-width: 360px;
  //    border-radius: 43px;
  //
  //    @include fontSize(14);
  //    font-family: $gotham-pro-bold;
  //    color: $color-button-1;
  //    text-transform: uppercase;
  //    text-decoration: none;
  //
  //    padding: 0 50px;
  //    margin-bottom: 45px;
  //  }
  }

  .pricing-card + .pricing-card {
    margin-left: unset;
    margin-top: 20px;
  }
}