@media all and (max-width: 1260px) {
  .pricing-cards {
    flex-flow: column nowrap;
  }

  .pricing .pricing-card + .pricing-card {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media all and (max-width: 880px) {
  .pricing {
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
      @include fontSize(34);
      text-align: center;

      margin-bottom: 15px;
    }

    &-cards {
      flex-flow: column nowrap;
      align-items: center;
      width: 320px;
    }

    &-card {
      width: 290px;

      &-container {
        width: 320px;
      }
    }

    .pricing-card + .pricing-card {
      margin-left: unset;
      margin-top: 20px;
    }
  }
}