@media all and (max-width: 1260px) {
  .reviews-photo {
    width: 780px;
  }
}

@media all and (max-width: 880px) {
  .reviews-photo {
    width: 290px;

    &-slider {
      position: relative;

      &-photo {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 290px;
        height: 225px;
        border-radius: 15px;
      }

      .slick-arrow {
        font-size: 0;
        position: absolute;
        top: 85px;
        width: 45px;
        @include border-radius-and-height(45px);
        background-size: contain;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 5;

        &.slick-prev {
          background-image: url(../images/slider-prev_devise.png);
          left: -14px;
        }

        &.slick-next {
          background-image: url(../images/slider-next_devise.png);
          right: -14px;
        }
      }
    }

    .reviews-photo-append-dots {
      display: none;
    }
  }
}

