@media all and (max-width: 880px) {
  .footer {

    &:after {
      content: unset;
    }

    &-container {
      height: 95px;
      width: 100%;
      max-width: 584px;
      min-width: 290px;
      padding: 0 15px;
    }

    .site-logo-container {
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-devise-show {
      display: block;
      background-image: url(../images/media/header-show.png);
      background-size: contain;
      width: 62px;
      @include border-radius-and-height(62px);
      cursor: pointer;
    }

    &-phone {
      display: none;
    }

    &-email {
      display: none;
    }

    &-instagram {
      display: none;
    }

    &-request {
      display: none;
    }
  }
}