@media all and (max-width: 880px) {
  .how-it-works {
    background-image: unset;

    padding-top: 30px;
    padding-bottom: 20px;

    .section-flex-col {
      align-items: flex-start;
    }

    h1 {
      @include fontSize(34);
      white-space: nowrap;
    }

    &-cards {
      display: flex;
      flex-flow: row wrap;
      margin-top: -10px;
    }

    &-card {
      align-items: center;
      width: 290px;
      margin-top: 20px;

      &-img {
        background-position: bottom center;
      }

      h2 {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      p {
        text-align: center;
        width: 300px;
      }
    }
  }
}