@media all and (max-width: 1440px) {
  .main-slider .slide:nth-child(n+2) {
    display: none;
  }
}

@media all and (max-width: 880px) {
  .main {
    background-image: url(../images/main/background_devise.jpg);
    padding-top: 115px;
    height: 1214px;

    &-slider {
      width: 100%;
      display: flex;
      justify-content: center;

      .slide:nth-child(n+2) {
        display: none;
      }

      .slick-arrow {
        display: none;
      }
    }

    .interactive_slider {
      display: none;
    }
  }
}