@media all and (max-width: 880px) {
  .reviews {
    width: 290px;
    padding-top: 30px;
    padding-bottom: 20px;

    h1 {
      @include fontSize(34);
      width: 290px;

      margin-bottom: 55px;
    }
  }
}