@media all and (max-width: 880px) {
  .workouts-and-reviews-background {
    background-image: url(../images/background_workouts-and-reviews_devise.jpg);
    background-position: top right;

    padding-top: 70px;
  }
}