.workouts-and-reviews-background {
  background-image: url(../images/background_workouts-and-reviews_devise.jpg);
  background-position: top right;

  padding-top: 70px;
  //background-color: $background-primary;
  //flex-flow: column;
  //align-items: center;
  //background-repeat: no-repeat;
}